<ion-header>
  <ion-navbar [color]="'head'">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center>Lead</ion-title>
    <ion-buttons right>
      <img alt="logo" height="40" src="assets/imgs/srk-0.png">
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top [color]="isAndroid ? 'royal' : 'masters'">
    <div>
      <ion-segment [(ngModel)]="category" [color]="'head'">
        <ion-segment-button value="enquiry">
          Enquiry
        </ion-segment-button>
        <ion-segment-button value="view">
          View Customer
        </ion-segment-button>
        <!-- <ion-segment-button value="Rejected" (click)="retrieveRejectedOrders()">
          Rejected
        </ion-segment-button> -->
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'enquiry'">

      <!-- <ion-tab [root]="leadPage" tabTitle="Lead" tabIcon="watch"></ion-tab> -->
      <!-- <div *ngIf="role == '1' || role == '2'"> -->
        <ion-item *ngIf="role == '1' || role == '2'">
          <ion-label color="selva">On Behalf of</ion-label>
          <!-- Need to add sales Rep name  -->
          <ion-select name="onBehalf">
          <!-- <ion-select [(ngModel)]="customers.employeeId" name="onBehalf"> -->
            <!-- <ion-option *ngFor="let user of userList.users" [value]="user.employeeId" (ionSelect)="onSelectSalesRep(user.firstName,user.lastName)" -->
            <ion-option *ngFor="let user of userList.users" [value]="user.employeeId" (ionSelect)="onSelectSalesRep(user.employeeId)"
              required>{{user.userName}}</ion-option>
          </ion-select>
        </ion-item>
      <!-- </div> -->

      <ion-item>
        <ion-label color="selva" stacked>Name</ion-label>
        <ion-input [(ngModel)]="customers.cust_NAME" name="cust_NAME" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="selva" stacked>Address</ion-label>
        <!-- <ion-input [(ngModel)]="customers.address" name="address" type="text"></ion-input> -->
        <ion-input [(ngModel)]="customers.address.address" name="address" type="text"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label color="selva" stacked>Locality</ion-label>
        <ion-input [(ngModel)]="customers.locality_ID" name="locality_ID" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="selva" stacked floating>City</ion-label>
        <ion-select [(ngModel)]="customers.address.city" name="city" [compareWith]="">
          <ion-option *ngFor="let city of cities" [value]="city.name">{{city.name}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="selva" stacked floating>District</ion-label>
        <ion-select [(ngModel)]="customers.address.district" name="district" [compareWith]="">
          <ion-option *ngFor="let district of districts" [value]="district.name">{{district.name}} </ion-option>
        </ion-select>
      </ion-item>
      <!-- <ion-item>
        <ion-label color="selva" stacked floating>State</ion-label>
        <ion-select [(ngModel)]="customers.address.state" name="state" [compareWith]="">
          <ion-option *ngFor="let state of state_list" [value]="state.name">{{state.name}} </ion-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label color="selva" stacked>Pincode</ion-label>
        <ion-input [(ngModel)]="customers.address.pinCode" name="pinCode" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="selva" stacked>Phone 1</ion-label>
        <ion-input [(ngModel)]="customers.cust_PHONE1" name="cust_PHONE1" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="selva" stacked>Phone 2</ion-label>
        <ion-input [(ngModel)]="customers.cust_PHONE2" name="cust_PHONE2" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="selva" stacked>email</ion-label>
        <ion-input [(ngModel)]="customers.cust_EMAIL" name="cust_EMAIL" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="selva" stacked>GSTIN</ion-label>
        <ion-input [(ngModel)]="customers.gst_NUMBER" name="gst_NUMBER" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="selva" stacked>Meeting Notes</ion-label>
        <ion-input [(ngModel)]="customers.customerEnquiry.meetingNotes" name="meetingNotes" type="text"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label color="selva">Site</ion-label>
        <ion-label color="selva" *ngIf="showSiteDetails" text-right>Add</ion-label>
        <ion-label color="selva" *ngIf="!showSiteDetails" text-right>Later</ion-label>
        <ion-toggle color="danger" [checked]="showSiteDetails" (ionChange)="siteOption()" required>
        </ion-toggle>
      </ion-item> -->
      <!-- <div *ngIf="showSiteDetails"> -->


      <!-- <ion-item>
          <ion-label color="selva" stacked>Site Address</ion-label>
          <ion-input [(ngModel)]="customers.site_ADDRESS_ID" name="site_ADDRESS_ID" type="text"></ion-input>
        </ion-item>
 -->
      <!-- <ion-item>
          <ion-label color="selva" stacked floating>City</ion-label>
          <ion-select [(ngModel)]="customers.address.city" name="city" [compareWith]="">
            <ion-option *ngFor="let city of cities" [value]="city.name">{{city.name}} </ion-option>
          </ion-select>
        </ion-item> -->
      <!-- <ion-item>
        <ion-label color="selva" stacked floating>District</ion-label>
        <ion-select [(ngModel)]="customers.address.district" name="district" [compareWith]="">
          <ion-option *ngFor="let district of districts" [value]="district.name">{{district.name}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="selva" stacked>Pincode</ion-label>
        <ion-input [(ngModel)]="customers.pinCode" name="pinCode" type="number"></ion-input>
      </ion-item> -->
      <!-- <ion-item>
          <ion-label color="selva" stacked>Site Contact Number</ion-label>
          <ion-input [(ngModel)]="customers.site_CONTACT_NUMBER" name="site_CONTACT_NUMBER" type="number"></ion-input>
        </ion-item> -->

      <!-- </div> -->

      <button ion-button block padding type="submit" color="one" (click)="onSubmitCustomer(customers)">
        Submit
      </button>

    </ion-list>
  </div>


  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'view'">

      <!-- this fab is placed at bottom right -->
      <!-- <ion-fab center middle>
          <button ion-fab color="danger"><ion-icon name="md-share"></ion-icon></button>
          <ion-fab-list side="top">
            <button ion-fab color="primary"><ion-icon name="logo-vimeo"></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="bottom">
            <button ion-fab color="secondary"><ion-icon name="logo-facebook"></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="left">
            <button ion-fab color="light"><ion-icon name="logo-googleplus"></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="right">
            <button ion-fab color="dark"><ion-icon name="logo-twitter"></ion-icon></button>
          </ion-fab-list>
        </ion-fab> -->
      <ion-fab right bottom>
        <button ion-fab color="primary">
          <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab color="secondary" (click)="onClick('Site')">
            <ion-icon name="home"></ion-icon>
          </button>
          <button ion-fab color="primary" (click)="onClick('Follow up')">
            <ion-icon name="eye"></ion-icon>
          </button>
          <button ion-fab color="selva" (click)="onClick('Reference')">
            <ion-icon name="contacts"></ion-icon>
          </button>
          <!-- <ion-icon color="selva" ios="ios-construct" md="md-construct"></ion-icon> -->
          <!-- <button ><ion-icon color="selva" ios="ios-contacts" md="md-contacts"></ion-icon></button> -->
        </ion-fab-list>
      </ion-fab>
      <div> This is the - {{page_name}} page - under construction.....
      </div>
    </ion-list>
  </div>
</ion-content>
<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-header>
  <ion-navbar>
    <ion-title>Ionic Demo</ion-title>
  </ion-navbar>
</ion-header> -->

<!-- <ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let order of orders">
      <ion-col>
        <ion-select [(ngModel)]="order.order_ID" name="order_ID">
          <ion-option *ngFor="let row of products" [value]="row.product_NAME" (ionSelect)="onSelectCustomer(row.product_NAME)">{{row.product_NAME}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <input type="text" [ngModel]="order.order_QTY | number: '1.0-0'" pattern="[0-9]" maxlength="3" (ngModelChange)="order.order_QTY=$event"
          (ionChange)="validateEmptyValue" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button [disabled]="rows?.length === maxQuantity" (click)="addrow()">Add Products</button>
  <button ion-button (click)="submitOrder()">Submit</button>
  <button ion-button (click)="clearOrders()" color="danger">Cancel</button>
  <ion-fab bottom right>
    <button ion-fab (click)="addrow()">Add</button>
    <ion-fab-list side="top">
       <button ion-fab>Product</button>
       <button ion-fab>Note</button>
       <button ion-fab>Copier</button>
     </ion-fab-list>
     <ion-fab-list side="left">
       <button ion-fab>Vimeo</button>
     </ion-fab-list>
  </ion-fab>
</ion-content> -->