<ion-header>
  <ion-navbar [color]="'head'">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center>Lead</ion-title>
    <ion-buttons right>
      <img alt="logo" height="40" src="assets/imgs/srk-0.png">
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top [color]="isAndroid ? 'royal' : 'masters'">
    <div>
      <ion-segment [(ngModel)]="category" [color]="'head'">
        <ion-segment-button value="enquiry">
          Enquiry
        </ion-segment-button>
        <ion-segment-button value="view_future" (click)="getNonBusinessCustomers()">
          Future Customers
        </ion-segment-button>
        <ion-segment-button value="view_customers" (click)="getBusinessCustomers()">
          Customers
        </ion-segment-button>
        <!-- <ion-segment-button value="Rejected" (click)="retrieveRejectedOrders()">
          Rejected
        </ion-segment-button> -->
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'enquiry'">

      <!-- <ion-tab [root]="leadPage" tabTitle="Lead" tabIcon="watch"></ion-tab> -->
      <!-- <div *ngIf="role == '1' || role == '2'"> -->
      <ion-item *ngIf="role == '1' || role == '2'">
        <ion-label color="selva">On Behalf of</ion-label>
        <!-- Need to add sales Rep name  -->
        <ion-select name="onBehalf">
          <!-- <ion-select [(ngModel)]="customers.employeeId" name="onBehalf"> -->
          <!-- <ion-option *ngFor="let user of userList.users" [value]="user.employeeId" (ionSelect)="onSelectSalesRep(user.firstName,user.lastName)" -->
          <ion-option *ngFor="let user of userList.users" [value]="user.employeeId" (ionSelect)="onSelectSalesRep(user.employeeId)"
            required>{{user.userName}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- </div> -->

      <ion-item>
        <ion-label color="selva" floating>Name</ion-label>
        <ion-input [(ngModel)]="customers.cust_NAME" name="cust_NAME" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="selva" floating>Alias</ion-label>
        <ion-input [(ngModel)]="customers.alias" name="alias" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="selva" floating>Address</ion-label>
        <!-- <ion-input [(ngModel)]="customers.address" name="address" type="text"></ion-input> -->
        <ion-input [(ngModel)]="customers.address.address" name="address" type="text"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label color="selva" floating>Locality</ion-label>
        <ion-input [(ngModel)]="customers.locality_ID" name="locality_ID" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="selva" floating>City</ion-label>
        <ion-select [(ngModel)]="customers.address.city" name="city" [compareWith]="">
          <ion-option *ngFor="let city of cities" [value]="city.name">{{city.name}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="selva" floating>District</ion-label>
        <ion-select [(ngModel)]="customers.address.district" name="district" [compareWith]="">
          <ion-option *ngFor="let district of districts" [value]="district.name">{{district.name}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="selva" floating>State</ion-label>
        <ion-select [(ngModel)]="customers.address.state" name="state" [compareWith]="">
          <ion-option *ngFor="let state of state_list" [value]="state.name">{{state.name}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="selva" floating>Pincode</ion-label>
        <ion-input [(ngModel)]="customers.address.pinCode" name="pinCode" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="selva" floating>Phone 1</ion-label>
        <ion-input [(ngModel)]="customers.cust_PHONE1" name="cust_PHONE1" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="selva" floating>Phone 2</ion-label>
        <ion-input [(ngModel)]="customers.cust_PHONE2" name="cust_PHONE2" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="selva" floating>email</ion-label>
        <ion-input [(ngModel)]="customers.cust_EMAIL" name="cust_EMAIL" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="selva" floating>GSTIN</ion-label>
        <ion-input [(ngModel)]="customers.gst_NUMBER" name="gst_NUMBER" type="text"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label color="selva" floating>Meeting Notes</ion-label>
        <ion-input [(ngModel)]="customers.customerEnquiry.meetingNotes" name="meetingNotes" type="text"></ion-input>
      </ion-item> -->
      <!-- "customerEnquiry": {
        "purposeOfVisit": null,
        "meetingNotes": null,
        "nextFollowUpDate": null,
        "siteStatus": null,
        "materialRequest": null,
        "remark": null,
        "status": null,
        "reviewedBy": null,
        "closedDate": null,
        "createdBy": null
      } -->
      <!-- <ion-item>
        <ion-label color="selva">Meeting Notes</ion-label>
        <ion-label color="selva" *ngIf="showMeetingDetails" text-right>Add</ion-label>
        <ion-label color="selva" *ngIf="!showMeetingDetails" text-right>Later</ion-label>
        <ion-toggle color="danger" [checked]="showMeetingDetails" (ionChange)="onMeetingNotesChange()" required>
        </ion-toggle>
      </ion-item> -->
      <div *ngIf="showMeetingDetails">
        <!-- <ion-item>
          <ion-label color="selva" floating>Site</ion-label>
          <ion-select [(ngModel)]="customers.customerEnquiry.siteId" name="siteId">
            <ion-option *ngFor="let site of sites" [value]="site.siteId" (ionSelect)="retrieveSiteofCustomer(0)" required>{{site.site_NAME}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="selva" floating>Purpose of Visit</ion-label>
          <ion-select [(ngModel)]="customers.customerEnquiry.purposeOfVisit" name="purposeOfVisit" [compareWith]="">
            <ion-option *ngFor="let purpose of purposes" [value]="purpose.name">{{purpose.name}} </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="selva" floating>Meeting Notes</ion-label>
          <ion-input [(ngModel)]="customers.customerEnquiry.meetingNotes" name="meetingNotes" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="selva" floating>Next FollowUp Date</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="customers.customerEnquiry.nextFollowUpDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="selva" floating>Site Status</ion-label>
          <ion-select [(ngModel)]="customers.customerEnquiry.siteStatus" name="siteStatus" [compareWith]="">
            <ion-option *ngFor="let status of site_status" [value]="status.name">{{status.name}} </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="selva" floating>Material Request</ion-label>
          <ion-input [(ngModel)]="customers.customerEnquiry.materialRequest" name="materialRequest" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="selva" floating>Remarks</ion-label>
          <ion-input [(ngModel)]="customers.customerEnquiry.remark" name="remark" type="text"></ion-input>
        </ion-item> -->
        <!-- <ion-item>
          <ion-label color="selva" floating>City</ion-label>
          <ion-select [(ngModel)]="customers.address.city" name="city" [compareWith]="">
            <ion-option *ngFor="let city of cities" [value]="city.name">{{city.name}} </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="selva" floating>District</ion-label>
          <ion-select [(ngModel)]="customers.address.district" name="district" [compareWith]="">
            <ion-option *ngFor="let district of districts" [value]="district.name">{{district.name}} </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="selva" floating>Pincode</ion-label>
          <ion-input [(ngModel)]="customers.pinCode" name="pinCode" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="selva" floating>Site Contact Number</ion-label>
          <ion-input [(ngModel)]="customers.site_CONTACT_NUMBER" name="site_CONTACT_NUMBER" type="number"></ion-input>
        </ion-item> -->
      </div>
      <button ion-button block padding type="submit" color="one" (click)="onSubmitCustomer(customers)">
        Submit
      </button>
      <button ion-button block padding type="submit" color="danger" (click)="clearAll()">
        Clear All
      </button>
    </ion-list>
  </div>

  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'view_future'">
      <div ion-item *ngFor="let item of customer_master; let i = index" icon-start>
        <ion-grid>
          <ion-row text-wrap>
            <ion-col col-5>Customer </ion-col>
            <ion-col col-7>
              <h3>{{ item.cust_NAME }}</h3>
            </ion-col>
          </ion-row>
          <ion-row text-wrap>
            <ion-col col-5>Phone </ion-col>
            <ion-col col-7>
              <h3>{{ item.cust_PHONE1 }}</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <button ion-button block color="secondary" (click)="onMeetingHistoryClick(item.cust_ID,'add_meeting')">Add New Meeting</button>
            <button ion-button block color="one" (click)="onMeetingHistoryClick(item.cust_ID,'view_list')">Meeting History</button>
          </ion-row>
          <ion-row>
            <button ion-button block color="secondary" (click)="convertCustomer(item.cust_ID,'BUSINESS')">Make Biz Customer</button>
            <button ion-button block color="primary" (click)="onMeetingHistoryClick(item.cust_ID,'add_site')">Add New Site</button>
          </ion-row> -->
          <!-- <button ion-button >Delete</button> -->
          <ion-item>
            <ion-fab right middle>
              <button ion-fab mini>
                <ion-icon name="log-in"></ion-icon>
              </button>
              <ion-fab-list side="left">
                <button ion-fab mini color="secondary" (click)="onMeetingHistoryClick(item.cust_ID,'add_meeting')">
                  <ion-icon name="people"></ion-icon>
                </button>
                <button ion-fab mini color="primary" (click)="convertCustomer(item.cust_ID,'BUSINESS')">
                  <ion-icon name="thumbs-up"></ion-icon>
                </button>
                <button ion-fab mini color="secondary" (click)="onMeetingHistoryClick(item.cust_ID,'view_list')">
                  <ion-icon name="book"></ion-icon>
                </button>
                <button ion-fab mini color="primary" (click)="onMeetingHistoryClick(item.cust_ID,'add_site')">
                  <ion-icon name="construct"></ion-icon>
                </button>
              </ion-fab-list>
            </ion-fab>
          </ion-item>
          <!-- <button ion-button  light >Allocate</button> -->
        </ion-grid>
      </div>
      <!-- <button ion-item *ngFor="let item of customer_meeting; let i = index" (click)="openNavDetailsPage(item,'estimate')" icon-start> -->
      <!-- <button ion-item *ngFor="let item of customer_meeting; let i = index" icon-start>
        <h2>#{{i+1}} - {{ item.custId }}</h2>
        <h2>Purpose # {{ item.purposeOfVisit }}</h2>
        <p>
          <ion-grid>
            <ion-row>
              <ion-col col-5>Item</ion-col>
              <ion-col col-7>
                <h3>{{ item.meetingNotes }}</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </p>
      </button> -->
      <!-- this fab is placed at bottom right -->
      <!-- <ion-fab center middle>
          <button ion-fab color="danger"><ion-icon name="md-share"></ion-icon></button>
          <ion-fab-list side="top">
            <button ion-fab color="primary"><ion-icon name="logo-vimeo"></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="bottom">
            <button ion-fab color="secondary"><ion-icon name="logo-facebook"></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="left">
            <button ion-fab color="light"><ion-icon name="logo-googleplus"></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="right">
            <button ion-fab color="dark"><ion-icon name="logo-twitter"></ion-icon></button>
          </ion-fab-list>
        </ion-fab> -->
      <!-- <ion-fab right bottom>
        <button ion-fab color="primary">
          <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab color="secondary" (click)="onClick('Site')">
            <ion-icon name="home"></ion-icon>
          </button>
          <button ion-fab color="primary" (click)="onClick('Follow up')">
            <ion-icon name="eye"></ion-icon>
          </button>
          <button ion-fab color="selva" (click)="onClick('Reference')">
            <ion-icon name="contacts"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
      <div> This is the - {{page_name}} page - under construction.....
      </div> -->
    </ion-list>
    <ion-list *ngSwitchCase="'view_customers'">
      <div ion-item *ngFor="let customer of current_customers; let i = index" icon-start>
        <ion-grid>
          <ion-row text-wrap>
            <ion-col col-5>Customer </ion-col>
            <ion-col col-7>
              <h3>{{ customer.cust_NAME }}</h3>
            </ion-col>
          </ion-row>
          <ion-row text-wrap>
            <ion-col col-5>Phone </ion-col>
            <ion-col col-7>
              <h3>{{ customer.cust_PHONE1 }}</h3>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-fab right middle>
              <button ion-fab mini>
                <ion-icon name="log-in"></ion-icon>
              </button>
              <ion-fab-list side="left">
                <button ion-fab color="secondary" (click)="onMeetingHistoryClick(customer.cust_ID,'add_meeting')">
                  <ion-icon name="people"></ion-icon>
                </button>
                <button ion-fab color="primary" (click)="convertCustomer(customer.cust_ID,'BUSINESS')">
                  <ion-icon name="thumbs-up"></ion-icon>
                </button>
                <button ion-fab color="secondary" (click)="onMeetingHistoryClick(customer.cust_ID,'view_list')">
                  <ion-icon name="book"></ion-icon>
                </button>
                <button ion-fab color="primary" (click)="onMeetingHistoryClick(customer.cust_ID,'add_site')">
                  <ion-icon name="construct"></ion-icon>
                </button>
              </ion-fab-list>
            </ion-fab>
          </ion-item>
          <!-- <button ion-button  light >Allocate</button> -->
        </ion-grid>
      </div>
    </ion-list>
  </div>
</ion-content>
<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-header>
  <ion-navbar>
    <ion-title>Ionic Demo</ion-title>
  </ion-navbar>
</ion-header> -->

<!-- <ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let order of orders">
      <ion-col>
        <ion-select [(ngModel)]="order.order_ID" name="order_ID">
          <ion-option *ngFor="let row of products" [value]="row.product_NAME" (ionSelect)="onSelectCustomer(row.product_NAME)">{{row.product_NAME}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <input type="text" [ngModel]="order.order_QTY | number: '1.0-0'" pattern="[0-9]" maxlength="3" (ngModelChange)="order.order_QTY=$event"
          (ionChange)="validateEmptyValue" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button [disabled]="rows?.length === maxQuantity" (click)="addrow()">Add Products</button>
  <button ion-button (click)="submitOrder()">Submit</button>
  <button ion-button (click)="clearOrders()" color="danger">Cancel</button>
  <ion-fab bottom right>
    <button ion-fab (click)="addrow()">Add</button>
    <ion-fab-list side="top">
       <button ion-fab>Product</button>
       <button ion-fab>Note</button>
       <button ion-fab>Copier</button>
     </ion-fab-list>
     <ion-fab-list side="left">
       <button ion-fab>Vimeo</button>
     </ion-fab-list>
  </ion-fab>
</ion-content> -->