<ion-header>
  <ion-navbar [color]="'head'">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center>Estimate</ion-title>
    <ion-buttons right>
      <img alt="logo" height="40" src="assets/imgs/{{companyId}}.png">
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (submit)="estimateOrder(estimateForm)" #estimateForm="ngForm">
    <!-- <form (ngSubmit)="submitOrder(ordersForm)" #ordersForm="ngForm"> -->

    <ion-row>
      <!-- <ion-col col-4>
        <ion-item>
          <ion-label>Customer</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-select [(ngModel)]="customer" name="customer">
            <ion-option *ngFor="let customer of customers" [value]="customer" (change)="onChange(customer)" required>{{customer.cust_NAME}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col> -->
      <ion-item>
        <ion-label>Customer</ion-label>
        <ion-select [(ngModel)]="customer" name="customer">
          <ion-option *ngFor="let customer of customers" [value]="customer" (change)="onChange(customer)" required>{{customer.cust_NAME}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label>Site</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-input [(ngModel)]="customer.site_NAME" name="site_NAME" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label>Referer 1</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-input [(ngModel)]="customer.reference_ID" name="reference_ID" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label>Item Group</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-select [(ngModel)]="estimate.itemGroup" name="itemGroup">
            <ion-option *ngFor="let item of items" [value]="item" (ionSelect)="onItemGroupChange(item,item.division_NAME)" required>{{item.division_NAME}}</ion-option>
            <!-- <ion-option *ngFor="let item of items.productGroups" [value]="item" (change)="onItemGroupChange(item)" required>{{item.product_GROUP_NAME}}</ion-option> -->
            <!-- <ion-option *ngFor="let customer1 of customers" [value]="customer1" (change)="onItemGroupChange(customer1)" required>{{customer1.cust_NAME}}</ion-option> -->
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label>Item name</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-select name="itemName">
          <!-- <ion-select [(ngModel)]="estimate.itemName" name="itemName"> -->
            <ion-option *ngFor="let item1 of items1" [value]="item1" (change)="onItemNameChange(item1)" required>{{item1.division_NAME}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>Total Units</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-input [(ngModel)]="estimate.unitsTotal" name="unitsTotal" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>Distance</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-input [(ngModel)]="estimate.distanceKM" name="distanceKM" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div *ngIf="itemGroup=='Quarry'">
    <!-- <div *ngIf="itemGroup=='Aggregate'"> -->
      <ion-row>
        <ion-col col-6>
          <div style="font-size:1.6rem;font-weight:bold;text-align: center;">Capacity</div>
        </ion-col>
        <ion-col col-6>
          <div style="font-size:1.6rem;font-weight:bold;text-align:center;">Loads</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label>1 Unit</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-input [(ngModel)]="estimate.unit1" name="unit1" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label>2 Units</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-input [(ngModel)]="estimate.unit2" name="unit2" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label>4 Units</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-input [(ngModel)]="estimate.unit4" name="unit4" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label>6 Units</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-input [(ngModel)]="estimate.unit6" name="unit6" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <button ion-button block type="submit" [color]="'head'" [disabled]="!estimateForm.valid">
      Submit
    </button>
    <button ion-button block [color]="'red'">
      Cancel
    </button>
  </form>
</ion-content>