<ion-header>
  <ion-navbar [color]="'head'">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center>Front Office</ion-title>
    <ion-buttons right>
      <img alt="logo" height="40" src="assets/imgs/srk-0.png">
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top [color]="isAndroid ? 'royal' : 'masters'">
    <ion-segment [(ngModel)]="category" [color]="'head'">
      <ion-segment-button value="approved-orders" (click)="retrieveSubOrders('APPROVED')">
        Approved
      </ion-segment-button>
      <ion-segment-button value="in-loading" (click)="retrieveSubOrders('ALLOCATED')">
        Allocated
      </ion-segment-button>
      <ion-segment-button value="weighment" (click)="retrieveSubOrders('LOADED')">
        Weighment
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>Collecting Latest Data...</ion-refresher-content>
  </ion-refresher> -->
  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'approved-orders'">
      <div *ngFor="let item of approvedOrders; let i = index">
        <ion-item-divider color="light">
         <p>
          #{{i+1}} - {{ item.order_NO }}
          Priority - {{ item.sub_ORDER_PRORITY }}
         </p>
          <p>
            <ion-item>
              <h2>{{ item.product_NAME }}</h2>
              <div *ngIf="item.product_GROUP == 'PAVER' || item.product_GROUP == 'DESIGNER_TILES'">
                <h2>Qty # {{displayIndianNumber(item.total_ORDER_UNIT)}} SqFt</h2>
              </div>
              <div *ngIf="item.product_GROUP == 'HOLLOW_BLOCK'">
                <h2>Qty # {{displayIndianNumber(item.unit)}} Pieces</h2>
              </div>
              <div *ngIf="item.product_GROUP =='QUARRY'">
                <h2>Qty # {{displayIndianNumber(item.unit_TYPE)}} Units</h2>
              </div>
              <h3>{{ item.customer_NAME }}</h3>
              <h3>Site: {{ item.site_NAME }}</h3>
              <h3>Sales Rep: {{ item.sales_REP_NAME }}</h3>
              <button ion-button block color="secondary" (click)="doRadio(item.order_NO,'ALLOCATED','APPROVED')">Allocate Vehicle</button>
            </ion-item>
          </p>
        </ion-item-divider>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'in-loading'">
      <div ion-item *ngFor="let allocated_item of allocatedOrders; let i = index" icon-start>
        <ion-item-divider color="light">
            <!-- #{{i+1}} - {{ allocated_item.order_NO }} -->
          <p>
            <ion-item>
              <h2>#{{i+1}} - {{ allocated_item.order_NO }}</h2>
              <h2>{{ allocated_item.product_NAME }}</h2>
              <div *ngIf="allocated_item.product_GROUP == 'PAVER' || allocated_item.product_GROUP == 'DESIGNER_TILES'">
                <h2>Qty # {{displayIndianNumber(allocated_item.total_ORDER_UNIT)}} SqFt</h2>
              </div>
              <div *ngIf="allocated_item.product_GROUP == 'HOLLOW_BLOCK'">
                <h2>Qty # {{displayIndianNumber(allocated_item.unit)}} Pieces</h2>
              </div>
              <div *ngIf="allocated_item.product_GROUP =='QUARRY'">
                <h2>Qty # {{displayIndianNumber(allocated_item.unit_TYPE)}} Units</h2>
              </div>
              <h3>{{ allocated_item.customer_NAME }}</h3>
              <h3>Site : {{ allocated_item.site_NAME }}</h3>
              <h3>Sales Rep : {{ allocated_item.sales_REP_NAME }}</h3>
              <!-- <button ion-button block color="secondary" (click)="doRadio(allocated_item.order_NO,'LOADED')">Loading Complete</button> -->
              <button ion-button block color="danger" (click)="updateSubOrder(allocated_item.order_NO,'APPROVED','ALLOCATED')">Cancel Allocation</button>
            </ion-item>
          </p>
        </ion-item-divider>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'weighment'">
      <div ion-item *ngFor="let loaded_item of loadedOrders; let i = index" icon-start>
        <ion-item-divider color="light">
            #{{i+1}} - {{ loaded_item.order_NO }}
            Priority - {{ loaded_item.sub_ORDER_PRORITY }}
          <p>
            <ion-item>
              <!-- <h2>#{{i+1}} - {{ loaded_item.order_NO }}</h2> -->
              <h3>{{ loaded_item.product_NAME }}</h3>
              <div *ngIf="loaded_item.product_GROUP == 'PAVER' || loaded_item.product_GROUP == 'DESIGNER_TILES'">
                <h2>Qty # {{displayIndianNumber(loaded_item.total_ORDER_UNIT)}} SqFt</h2>
              </div>
              <div *ngIf="loaded_item.product_GROUP == 'HOLLOW_BLOCK'">
                <h2>Qty # {{displayIndianNumber(loaded_item.unit)}} Pieces</h2>
              </div>
              <div *ngIf="loaded_item.product_GROUP =='QUARRY'">
                <h2>Qty # {{displayIndianNumber(loaded_item.unit_TYPE)}} Units</h2>
              </div>
              <h3>{{ loaded_item.customer_NAME }}</h3>
              <h3>Site : {{ loaded_item.site_NAME }}</h3>
              <h3>Saes Rep : {{ loaded_item.sales_REP_NAME }}</h3>

              <button ion-button block color="one" (click)="showPrompt()">Capture Weight</button>
              <button ion-button block color="secondary" (click)="updateSubOrder(loaded_item.order_NO,'WEIGHED','LOADED')">Weighment Complete</button>
              <!-- <button ion-button block color="danger" (click)="updateSubOrder(loaded_item.order_NO,'ALLOCATED','LOADED')">Cancel Loading</button> -->
            </ion-item>
          </p>
        </ion-item-divider>
      </div>
    </ion-list>
  </div>
</ion-content>