<ion-header>
  <ion-navbar [color]="'head'">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center>Front Office</ion-title>
    <ion-buttons right>
      <img alt="logo" height="40" src="assets/imgs/srk-0.png">
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top [color]="isAndroid ? 'royal' : 'masters'">
    <ion-segment [(ngModel)]="category" [color]="'head'">
      <ion-segment-button value="approved-orders" (click)="retrieveSubOrders('APPROVED')">
        Approved
      </ion-segment-button>
      <ion-segment-button value="in-loading" (click)="retrieveSubOrders('ALLOCATED')">
        Allocated
      </ion-segment-button>
      <ion-segment-button value="loaded" (click)="retrieveSubOrders('LOADED')">
        Loaded
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>Collecting Latest Data...</ion-refresher-content>
  </ion-refresher> -->
  <div [ngSwitch]="category">
    <ion-list padding *ngSwitchCase="'approved-orders'">
      <div *ngFor="let item of approvedOrders; let i = index">
        <ion-item>
          <h2>{{i+1}} - {{ item.order_NO }}</h2>
          <h2>{{ item.product_NAME }}</h2>
          <h2>{{ item.unit_TYPE }} Qty # {{displayIndianNumber(item.unit_TYPE)}}</h2>
          <h3>{{ item.customer_NAME }}</h3>
          <h3>{{ item.site_NAME }}</h3>
          <h3>{{ item.ordered_CREATED_BY }}</h3>
          <button ion-button block color="secondary" (click)="doRadio(item.order_NO,'ALLOCATED','APPROVED')">Allocate Vehicle</button>
        </ion-item>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'in-loading'">
      <div ion-item *ngFor="let allocated_item of allocatedOrders; let i = index" icon-start>
        <h2>{{i+1}} - {{ allocated_item.order_NO }}</h2>
        <h2>{{ allocated_item.product_NAME }}</h2>
        <h2>{{ allocated_item.unit_TYPE }} Qty # {{displayIndianNumber(allocated_item.unit_TYPE)}}</h2>
        <h3>{{ allocated_item.customer_NAME }}</h3>
        <h3>{{ allocated_item.site_NAME }}</h3>
        <h3>{{ allocated_item.ordered_CREATED_BY }}</h3>
        <!-- <button ion-button block color="secondary" (click)="doRadio(allocated_item.order_NO,'LOADED')">Loading Complete</button> -->
        <button ion-button block color="danger" (click)="updateSubOrder(allocated_item.order_NO,'APPROVED','ALLOCATED')">Cancel Vehicle</button>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'loaded'">
      <div ion-item *ngFor="let loaded_item of loadedOrders; let i = index" icon-start>
        <h2>{{i+1}} - {{ loaded_item.order_NO }}</h2>
        <h3>{{ loaded_item.product_NAME }}</h3>
        <h2>{{ loaded_item.unit_TYPE }} Qty # {{displayIndianNumber(loaded_item.unit_TYPE)}}</h2>
        <h3>{{ loaded_item.customer_NAME }}</h3>
        <h3>{{ loaded_item.site_NAME }}</h3>
        <h3>{{ loaded_item.ordered_CREATED_BY }}</h3>
        <button ion-button block color="secondary" (click)="updateSubOrder(loaded_item.order_NO,'WEIGHED','LOADED')">Weighment Complete</button>
        <button ion-button block color="danger" (click)="updateSubOrder(loaded_item.order_NO,'ALLOCATED','LOADED')">Cancel Loading</button>
      </div>
    </ion-list>
  </div>
</ion-content>