<ion-header>
  <ion-navbar [color]="'head'">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center>Front Office</ion-title>
    <ion-buttons right>
      <img alt="logo" height="40" src="assets/imgs/srk-0.png">
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top [color]="isAndroid ? 'royal' : 'masters'">
    <ion-segment [(ngModel)]="category" [color]="'head'">
      <ion-segment-button value="approved-orders" (click)="retrieveSubOrders('APPROVED')">
        Approved
      </ion-segment-button>
      <ion-segment-button value="in-loading" (click)="retrieveSubOrders('ALLOCATED')">
        Allocated
      </ion-segment-button>
      <ion-segment-button value="loaded" (click)="retrieveSubOrders('LOADED')">
        Loaded
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>Collecting Latest Data...</ion-refresher-content>
  </ion-refresher> -->
  <div [ngSwitch]="category">
    <ion-list padding *ngSwitchCase="'approved-orders'">
      <div *ngFor="let item of approvedOrders">
        <ion-item>
          <h2>{{ item.product_NAME }}</h2>
          <h2>Qty # {{displayIndianNumber(item.total_ORDER_UNIT)}}</h2>
          <h3>{{ item.customer_NAME }}</h3>
          <h3>{{ item.site_NAME }}</h3>
          <h3>{{ item.order_GROUP_NO }}</h3>
          <button ion-button block color="secondary" (click)="doRadio()">Allocate Vehicle</button>
        </ion-item>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'in-loading'">
      <button ion-item *ngFor="let allocated_item of allocatedOrders" (click)="openNavDetailsPage(allocated_item,'approve')"
        icon-start>
        <h2>{{ allocated_item.customer_NAME }}</h2>
        <h3>{{ allocated_item.product_NAME }}</h3>
        <h3>Qty # {{displayIndianNumber(allocated_item.total_ORDER_UNIT)}}</h3>
        <p>Total Cost # {{ displayINR(allocated_item.total_COST) }}</p>
        <p>Order # {{ allocated_item.order_GROUP_NO }} </p>
        <p>Date {{allocated_item.order_DT}}</p>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'loaded'">
      <button ion-item *ngFor="let loaded_item of loadedOrders" (click)="openNavDetailsPage(loaded_item,'reject')" icon-start>
        <h2>{{ loaded_item.customer_NAME }}</h2>
        <h3>{{ loaded_item.product_NAME }}</h3>
        <h3>Qty # {{displayIndianNumber(loaded_item.total_ORDER_UNIT)}}</h3>
        <p>Total Cost # {{ displayINR(loaded_item.total_COST) }}</p>
        <p>Order # {{ loaded_item.order_GROUP_NO }} </p>
        <p>Date {{loaded_item.order_DT}}</p>
      </button>
    </ion-list>
  </div>
</ion-content>