<ion-header>
    <ion-navbar [color]="'head'">
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title center>Order Details</ion-title>
        <ion-buttons right>
            <img alt="logo" height="40" src="assets/imgs/srk-0.png">
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card padding>
        <ion-card-header>
            <b>
                {{ order.customer_NAME}}
            </b>
        </ion-card-header>
        <h2>Order # {{order.order_GROUP_NO}}</h2>
        <h3>Site {{order.site_NAME}}</h3>
        <p>Distance {{displayIndianNumber(order.delivery_DISTANCE)}} Kms</p>
        <p>Taxable {{order.taxable_STATUS}}</p>
        <p>Reference 1 {{order.refrerel1_NAME}}</p>
        <p>Reference 2 {{order.refrerel2_NAME}}</p>
        <!-- <ion-item stacked>
            <ion-label>Order #</ion-label>
            <ion-label>{{order.order_GROUP_NO }}</ion-label>
        </ion-item>
        <ion-item stacked>
            <ion-label>Site</ion-label>
            <ion-label>{{order.site_NAME}}</ion-label>
        </ion-item>
        <ion-item stacked>
            <ion-label>Distance</ion-label>
            <ion-label>{{displayIndianNumber(order.delivery_DISTANCE)}} Kms</ion-label>
        </ion-item>
        <ion-item stacked>
            <ion-label>Taxable</ion-label>
            <ion-label>{{order.taxable_STATUS}}</ion-label>
        </ion-item>
        <ion-item stacked>
            <ion-label>Reference 1</ion-label>
            <ion-label>{{order.refrerel1_NAME}}</ion-label>
        </ion-item>
        <ion-item stacked>
            <ion-label>Reference 2</ion-label>
            <ion-label>{{order.refrerel2_NAME}}</ion-label>
        </ion-item> -->
    </ion-card>
    <ion-card padding>
        <h2>Product Group {{order.product_GROUP}}</h2>
        <h3>Product {{order.product_NAME}}</h3>
        <p>Cost per Unit {{displayINR(order.product_UNIT_COST)}}</p>
        <p>Total Units {{displayIndianNumber(order.total_ORDER_UNIT)}}</p>
        <!-- <ion-item stacked>
            <ion-label>Product Group</ion-label>
            <ion-label>{{order.product_GROUP}}</ion-label>
        </ion-item>
        <ion-item stacked text-wrap>
            <ion-label>Product</ion-label>
            <ion-label>{{order.product_NAME}}</ion-label>
        </ion-item>
        <ion-item stacked>
            <ion-label>Cost per Unit</ion-label>
            <ion-label>{{displayINR(order.product_UNIT_COST)}}</ion-label>
        </ion-item>
        <ion-item stacked>
            <ion-label>Total Units</ion-label>
            <ion-label>{{displayIndianNumber(order.total_ORDER_UNIT)}}</ion-label>
        </ion-item> -->
    </ion-card>
    <div *ngIf="subOrders?.length > 0 && subOrders?.length != 1">
        <ion-card>
            <ion-card-header>Order Details</ion-card-header>
            <ion-list padding *ngFor="let row of subOrders">
                <h2>Unit(s): {{displayIndianNumber(row.unit_TYPE)}} Load: {{displayIndianNumber(row.unit)}}</h2>
                <h3>Total Cost: {{displayINR(row.order_TOTAL_COST)}}</h3>
                <p>Transport: {{displayINR(row.order_TRANSPORT_COST)}}</p>
                <p>Tax 1: {{displayINR(row.order_TAX1)}} Tax 2: {{displayINR(row.order_TAX2)}}</p>
            </ion-list>
        </ion-card>
    </div>
    <div *ngIf="subOrders?.length == 1">
        <div *ngFor="let item of subOrders">
            <div *ngIf="item.orderDetails?.length > 0">
                <ion-card>
                    <ion-card-header>Product Details </ion-card-header>
                    <div *ngFor="let row of item.orderDetails">
                        <ion-row>
                            <ion-col col-8>
                                <ion-item text-wrap>
                                    <ion-label> {{row.name}}</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col col-4>
                                <ion-item>
                                    <ion-label> {{row.quantity}}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </div>
        </div>
    </div>
    <ion-card>
        <ion-item stacked>
            <ion-label>Total Cost</ion-label>
            <ion-label>{{displayINR(order.total_COST)}}</ion-label>
        </ion-item>
        <ion-item stacked>
            <ion-label>Product Cost</ion-label>
            <ion-label>{{displayINR(order.total_PRODUCT_COST)}}</ion-label>
        </ion-item>
        <div *ngIf="order.taxable_STATUS == 'Yes'">
            <ion-item stacked>
                <ion-label>Tax 1</ion-label>
                <ion-label>{{displayINR(order.total_TAX1)}}</ion-label>
            </ion-item>
            <ion-item stacked>
                <ion-label>Tax 2</ion-label>
                <ion-label>{{displayINR(order.total_TAX1)}}</ion-label>
            </ion-item>
        </div>
        <ion-item stacked>
            <ion-label>Loading Cost</ion-label>
            <ion-label>{{displayINR(order.total_LOADING_COST)}}</ion-label>
        </ion-item>
        <ion-item stacked>
            <ion-label>Transport Cost</ion-label>
            <ion-label>{{displayINR(order.total_TRANSPORT_COST)}}</ion-label>
        </ion-item>
    </ion-card>
    <div *ngIf="order_type=='estimate'" padding>
        <button ion-button block color="secondary" (click)="approveOrder(order.order_GROUP_NO)">
            Approve
        </button>
        <button ion-button block color="danger" (click)="rejectOrder(order.order_GROUP_NO)">
            Reject
        </button>
    </div>
</ion-content>